.hero {

  &__image {
    background-image: url("../../images/pink-nail-background.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  &__title {
    color: blue;
  }
}

.abouts {
  background-color: #F5FCFF;
}

.global-padding {
  padding: 5rem 1.5rem 5rem 1.5rem;
}

hr {
  border: 0;
  height: 6px;
  width: 120px;
  position: relative;
  margin: 0 auto 50px;
  background: pink;
}

