.navbar {
    background-color: whitesmoke;
}

.navbar-item {
    color: black;
    font-weight: bold;
}

.navbar-menu {
    background-color: whitesmoke;
}

.navbar-burger {
    color: black;
}

.btn-unique {
    background-color: rgb(0, 255, 119);
}