body {
    // background-color: rgb(238, 238, 238);
    background-color: white
    ;
}

.hero {
    padding: 5rem 20px;
    background-image: url('../../images/hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

// ABOUT SECTION
.abouts {
    margin-bottom: 5rem;
    outline-style: solid;
    outline-color: black;
    background-color: #917C57;

    // background-color: rgb(197, 129, 46);
    &__title {
        color: whitesmoke;
    }
    &__sub {
        color: whitesmoke;
        font-size: medium;
    }
}

// PACKAGES SECTION
.packages {
margin-bottom: 5rem;
    &__title {
         color: black;
         display: flex;
         width: 100%;
         justify-content: center;
         align-items: center;
         text-align: center;
        
    }

    &__title:before,
    &__title:after {
        color: #917C57;
        content: '';
        border-top: 2px solid;
        margin: 0 20px 0 0;
        flex: 1 0 20px;
    }

    &__title:after {
        margin: 0 0 0 20px;

    }

    &__columns {
        outline-style: solid;


    }
}

h3 {
    color: rgb(95, 68, 0);  
    font-size: large;
    font-weight: bold;
}

.subtitle {
    &__pol {
        font-size: medium;
        font-weight: bold;
        text-decoration: underline;
    }
    
}

.main-title {
    font-weight: bolder;
    color: black;  
}

.fa {
    color: #917C57;
}